* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4, p {
    color: #222;
    font-weight: 300;
}

body {
    font-family: 'Maven Pro', sans-serif;
    overflow-x: hidden;
}

.aluminiumSection {
    width: 100%;
    background: #cacaca;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 150px 0px;
    gap: 440px;
}

.aluminiumSection > .textContainer {
    width: 100%;
    max-width: 697px;
    margin-left: 168px;
}

.aluminiumSection > .textContainer > .aluminiumTitle {
    color: white;
    max-width: 75%;
    font-size: 2em;
}

.aluminiumSection > .phoneImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aluminiumSection > .phoneImageContainer > img {
    width: 50%;
    max-width: 700px;
    position: absolute;
    right: -200px;
    top: 50%;
    transform: translateY(-50%);
}
